body.modal-open {
    overflow: hidden;
}
@media only screen and (min-width: 1024px){
    .container{
        width: 85%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 2.5rem;
        justify-content: center;
        padding-bottom: 2rem;
        text-align: left;
    }
    
    nav .links{
        margin-left: 70%;
    }
}
@media only screen 
  and (min-width: 350px) 
  and (max-width: 600px) {
    
    .container{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr ;
        grid-row-gap: 2.5rem;
        justify-content: center;
        padding-bottom: 2rem;
        text-align: left;
    }

    nav .links{
        margin-left: 60%;
    }

}
@media only screen 
    and (min-width: 601px) 
    and (max-width: 1023px){
        .container{
            width: 85%;
            margin: auto;
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-row-gap: 2.5rem;
            justify-content: center;
            padding-bottom: 2rem;
            text-align: left;
        }

        nav .links{
            display: inline-block;
            margin-left: 70%;
        }
}

body{
    background-color: rgb(235, 232, 232);
    margin: auto;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
nav{
    background-color: #045bdb;
    color: white;
}
nav .logo{
    display: inline-block;
    font-size: 1.5rem;
    margin: 1% auto;
    margin-right: auto;
    margin-left: 5%;
}
nav .links{
    display: inline-block;
}
nav .links:active{
    color: white;
}
.card {
    /* Add shadows to create the "card" effect */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.card-item-top h3{
    margin-bottom: 0.3rem;
}
.card-item-top h5, h4{
    color: gray;
    font-weight: 400;
    margin: 0;
}
.card-item-img{
    min-height: 250px;
    max-height: 250px;
    min-width: 175px;
    max-width: 475px;
}
.card-item-bot{
    font-weight: 300;
}
.card-item-bot button{
    display: block;
    margin: 0 auto;
    justify-content:center;
    background-color: #045bdb;
    border-color: #045bdb;
    border-radius: 5%;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    color: white;
    width: 33%;
    height: 35px;
    transition-property: background-color, color;
    transition-duration: 0.215s;
}
.card-item-bot button:hover{
    color: #045bdb;
    background-color: white;
}
.card-footer hr{
    border: 1px solid  #045bdb;
    border-style: solid none none none;
    margin-bottom: 0;
    opacity: .5;
}
.card-footer h5{
    font-weight: 400;
    color: gray;
    margin-top: 0.5rem;
}
  
  