@media only screen and (min-width: 768px){
    .container{
        width: 85%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 2.5rem;
        padding-bottom: 2rem;
        text-align: left;
    }
    
    nav .links{
        margin-left: 70%;
    }
}
@media only screen 
  and (min-width: 350px) 
  and (max-width: 600px) {
    
    .container{
        width: 85%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr ;
        grid-row-gap: 2.5rem;
        padding-bottom: 2rem;
        text-align: left;
    }

    .card{
        margin-bottom: 2rem;
    }

    nav .links{
        margin-left: 60%;
    }

}
@media only screen 
    and (min-width: 601px) 
    and (max-width: 767px){
        .container{
            width: 85%;
            margin: auto;
            display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-row-gap: 2.5rem;
            padding-bottom: 2rem;
            text-align: left;
        }

        nav .links{
            display: inline-block;
            margin-left: 70%;
        }
}

body{
    background-color: rgb(235, 232, 232);
    margin: auto;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
nav{
    background-color: #045bdb;
    color: white;
}
nav .logo{
    display: inline-block;
    margin-right: auto;
    margin-left: 5%;
}
nav .links{
    display: inline-block;
}
nav .links:active{
    color: white;
}
.card {
    /* Add shadows to create the "card" effect */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.card-item-top h3{
    margin-bottom: 0.3rem;
}
.card-item-top h5, h4{
    color: gray;
    font-weight: 400;
    margin: 0;
}
.card-item-img{
    min-height: 250px;
    max-height: 250px;
}
  
  